footer {
    padding-top: 50px;
}

.blognavigation {
    margin-top: 20px;
}

.blognavigation li.active,
.blognavigation li:hover,
.tags a:hover {
    background: #202636;
    color: #fff;
}

.blognavigation .next,
.blognavigation .prev {
    background-color: var(--primary-color);
    color: #fff;
}

.blognavigation .dots {
    font-size: 20px;
    margin: 0 5px;
}

.blognavigation a,
.blognavigation li,
.blognavigation span.current {
    display: inline-block;
    margin: 10px 3px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 1rem;
    transition: .2s;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.blognavigation a:hover,
.blognavigation li:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #000;
    transition: .2s;
}

.blognavigation span.current {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .blognavigation {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.blognavigation a,
.blognavigation li,
.blognavigation span.current {
    display: inline-block;
    margin: 10px 3px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 1rem;
    transition: .2s;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.blognavigation span.current {
    background: var(--primary-color);
    /* border-color: var(--primary-colorr); */
    color: #fff;
}

footer {
    padding-top: 50px;
}

.blognavigation {
    margin-top: 20px;
}

.blognavigation li.active,
.blognavigation li:hover,
.tags a:hover {
    background: #202636;
    color: #fff;
}

.blognavigation .next,
.blognavigation .prev {
    background-color: var(--primary-color);
    color: #fff;
}

.blognavigation .dots {
    font-size: 20px;
    margin: 0 5px;
}

.blognavigation a,
.blognavigation li,
.blognavigation span.current {
    display: inline-block;
    margin: 10px 3px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 1rem;
    transition: .2s;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.blognavigation a:hover,
.blognavigation li:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #000;
    transition: .2s;
}

.blognavigation span.current {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .blognavigation {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.blognavigation a,
.blognavigation li,
.blognavigation span.current {
    display: inline-block;
    margin: 10px 3px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 1rem;
    transition: .2s;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.blognavigation span.current {
    background: var(--primary-color);
    /* border-color: var(--primary-colorr); */
    color: #fff;
}


.our-blogs {
    background-color: #f1f5f9;
  }
  