@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

/*----------------------------------------------------------------
                      Start Default Settings
  ----------------------------------------------------------------*/
/*========== Typography Settings ==========*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Tajawal", sans-serif;
}
p {
    /* font-family: "Lateef", serif; */
}
.btn-effect span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--main-color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 2)* 25%);
    transition: .5s;
    transition-delay: calc((var(--n) - 1)* .1s);
    z-index: -1;
}
/*========= Alignment CSS ==========*/
body {
    font-family: "Tajawal", sans-serif;
}

.navbar-nav {
  display: flex
;
  flex-direction: column;
  padding-left: 0;
  margin-right: auto;
}

.text_end {
  text-align:left  !important;
}
.text_start {
text-align: right !important;
}

.dropdown-item {
  text-align: left;
}
.destination__card-content--round {
    left: 39px;
}

.destination__card-content {
    text-align: left;
}

.destination-card .card-title {
    left: 15px;
    transform: translateX(0);
}


.accordion button {
    text-align: left;
}




@media only screen and (min-width: 992px) {
    .form-bg.half-l {
        float: right;
    }
}


.contact-form .comment, .contact-form .form-bg {

    text-align: left;
}

.destination__card-content--round {
    left: 39px;
    /* right: 10px; */
}
input[type="text"], input[type="email"], input[type="phone"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], input[type="subject"], input[type="datetime-local"] {
    height: 60px;
    text-align: left;
}
.form-floating>label {
    top: 0;
    left: 0;
    right:  auto !important;
}

table.infotable td, table.infotable th {
    margin: 0;
    padding: 7px 10px;
    text-align: left;
    font-size: .9rem;
}
.facility-box ::before {
    font: var(--fa-font-solid);
    content: "\f0e7";
    width: 20px;
    height: 20px;
    color: #dc3545;
    margin-right: 8px;
    font-size: 16px;
}
.styled-list li:before {
    font: var(--fa-font-solid);
    content: "\f0c6";
    width: 20px;
    height: 20px;
    color: var(--color-accent-1);
    margin-right: 10px;
    font-size: 19px;
}

.footer-widget .footer-link li span {
  padding-right: 0;
  font-size: 10px;
}

.footer-widget .footer-link li a {
  font-size: 20px;
  line-height: 25px;
}
.about-img img {
    border-radius: 38px;
    height: 741px;
    width: 745px;
}.tours-item{
    height: 554px;
}
.blog-card.two {
    display: flex
;
    align-items: center;
    flex-direction: row-reverse;
}


.national-info a {
    font-size: 25px;
    font-weight: 600;
}

.accordion .accordion-content p {
    font-size: 21px;
    margin: 15px auto;
    color: #666;
    line-height: 1.2;
}